streamlit
pymupdf
langchain
google-generativeai
langchain-experimental
numpy
pandas
langchain-community
langchain-google-genai
beautifulsoup4
PyMuPDF
langchain-together
faiss-cpu
google
pypdf
pdfminer
tabulate
pandas
streamlit-pdf-viewer
matplotlib
